section.main {
    float:left;
    width:100%;
    margin-top:5px;
}

.posts {
    overflow:hidden;
    position:relative;
    width:100%;
    float:left;
    margin-top:19px;
}

.posts-category {
    overflow:hidden;
    position:relative;
    width:100%;
    float:left;
    margin-top:-14px;
}

.posts-category-header {
    background-color:#0263d7;
    width:100%;
    height: 80px;
    margin-bottom:20px;
}

.posts-category-header-clear {
    margin-bottom:110px;
}

h2.posts-category-title {
    color:#fff;
    font-size:40px;
    font-weight: normal;
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom:1px solid #fff;
    padding-top:8px;
    padding-right: 15px;
    text-align: right;
    text-transform: uppercase;
}

article.post {
    float:left;
    width:50%;
    margin-bottom:32px;
    position:relative;
}

.post-content {
    position:relative;
    overflow:hidden;
}

.post-inner-date {
    position:absolute;
    bottom:10px;
    right:0;
    margin-right:22px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:#ebebeb;
    padding:1px;
    text-transform: uppercase;
    width:61px;
    height: 19px;
    line-height: 20px;
    text-align: center;
    opacity:0.71;
    filter: alpha(opacity=71);
}

.post-inner-category {
    position:absolute;
    bottom:10px;
    left:0px;
    right:0;
    margin-left:6px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:#ebebeb;
    padding:5px;
    text-transform: uppercase;
    width:92px;
    height: 19px;
    line-height: 20px;
    text-align: center;
    opacity:0.71;
    filter: alpha(opacity=71);
}

.post-inner-author {
    position:absolute;
    bottom:10px;
    right:0;
    left:50%;
    margin-right:22px;
    font-size:16px;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
}

span.post-author {
    position:relative;
    left:-50%;
    background-color:#747474;
    padding-left:1px;
    padding-right:1px;
    top:-4px;
}

.post-inner-title {
    position:absolute;
    bottom:42px;
    left:0;
    right:0;
    margin-bottom:-20px;
    margin-right:1px;
    padding:7px;
}

.post-thumbnail {
    width:100%;
    float:left;
    margin-bottom:-3px;
}

.post-thumbnail img {
    width:390px;
    height: 390px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.post-thumbnail img:hover {
    opacity:0.8;
    filter: alpha(opacity=80);
}

h2.post-title {
    background-color:#ececec;
    padding:8px;
    opacity:0.71;
    filter: alpha(opacity=71);
    max-width:320px;
}

h2.post-title a {
    text-decoration:none;
    color:#000;
    font-size:24px;
    font-weight: normal;
    font-family: 'Capriola', sans-serif;
}

.center-post {
    width:100%;
    float:left;
}

.center-post-thumbnail {
    width:100%;
    float:left;
}

 .center-post-thumbnail img {
    width:100%;
    height: 295px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
 }

 .center-post-thumbnail img:hover {
    opacity:0.8;
    filter: alpha(opacity=80);
 }

h2.center-post-title {
    background-color:#ececec;
    padding:8px;
    opacity:0.71;
    filter: alpha(opacity=71);
    max-width:1020px;
}

h2.center-post-title a {
    text-decoration:none;
    color:#000;
    font-size:24px;
    font-weight: normal;
    font-family: 'Capriola', sans-serif;
}

.center-post .post-inner-date {
    margin-right:6px;
}