section.main {
    float:left;
    width:100%;
    margin-top:5px;
}

.posts {
    overflow:hidden;
    position:relative;
    width:100%;
    float:left;
    margin-top:19px;
}

.posts-category {
    overflow:hidden;
    position:relative;
    width:100%;
    float:left;
    margin-top:-14px;
}

.posts-category-header {
    background-color:#0263d7;
    width:100%;
    height: 80px;
    margin-bottom:20px;
}

.posts-category-header-clear {
    margin-bottom:110px;
}

h2.posts-category-title {
    color:#fff;
    font-size:40px;
    font-weight: normal;
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom:1px solid #fff;
    padding-top:8px;
    padding-right: 15px;
    text-align: right;
    text-transform: uppercase;
}

article.post {
    float:left;
    width:50%;
    margin-bottom:10px;
    position:relative;
}

.post-content {
    position:relative;
    overflow:hidden;
}

.post-inner-date {
    position:absolute;
    top:0px;
    left:0px;
    right:0;
    margin-left:6px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.post-inner-title {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:-20px;
    margin-right:1px;
    padding:7px;
}

.post-thumbnail {
    width:100%;
    float:left;
    margin-bottom:-3px;
}

.post-thumbnail img {
    width:100%;
    height: 252px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.post-thumbnail img:hover {
    opacity:0.8;
    filter: alpha(opacity=80);
}

span.post-date {
    color:#DFDFDF;
    font-size:12px;
}

h2.post-title a {
    text-decoration:none;
    color:#fff;
    font-size:25px;
    font-weight: normal;
    font-family: 'Capriola', sans-serif;
}

.center-post {
    width:100%;
    float:left;
    margin-bottom:5px;
}

.center-post-thumbnail {
    width:100%;
    float:left;
}

 .center-post-thumbnail img {
    width:100%;
    height: 295px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
 }

 .center-post-thumbnail img:hover {
    opacity:0.8;
    filter: alpha(opacity=80);
 }

 .center-post-thumbnail .post-inner-date {
     margin-left:6px;
 }

h2.center-post-title {
    margin-bottom:18px;
    position:relative;
    padding:2px;
}

h2.center-post-title a {
    text-decoration:none;
    color:#fff;
    font-size:31px;
    font-weight: normal;
    font-family: 'Capriola', sans-serif;
}