html, body {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    min-width:1200px;
}

.container {
    margin:0 auto;
    width:1325px;
}

header.header-static .top {
    border-bottom:1px solid #7dbebd;
    float:left;
    width:100%;
}

header.header-static .logo {
    width:1325px;
    margin:31px auto 0 auto;
}

header.header-static .navigation {
    clear:both;
    width:1325px;
    margin:0 auto;
}

header.header-static nav.header-nav {
    float:left;
    width:80%;
}

nav.links-nav {
    float:right;
    width:20%;
    margin-top:8px;
}

ul.links-menu, ul.links-menu li {
    display:block;
    margin:0;
    padding:0;
    list-style: none;
}

ul.links-menu {
    float:right;
}

ul.links-menu li {
    float:left;
}

header.header-static ul.header-menu, header.header-static ul.header-menu li {
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    display:block;
}

header.header-static ul.header-menu {
    width:100%;
    margin-top:12px;
}

header.header-static ul.header-menu a:link, header.header-static ul.header-menu a:visited {
    display:block;
    text-decoration: none;
    color:#000;
    padding:14px 10px;
    text-transform: uppercase;
}

header.header-static ul.header-menu a:hover {
    text-decoration: underline;
}

header.header-fixed {
    display:none;
    background-color:#7dbebd;
    width:100%;
    line-height: 76px;
    padding:0;
    margin:-116px 0 0 0;
    position:fixed;
    z-index:1;
}

header.header-fixed .top {
    margin:0 auto;
    width:1325px;
}

header.header-fixed .logo {
    float:left;
    background-color:#7dbebd;
    margin-top:-4px;
    margin-bottom:-44px;
}

header.header-fixed .logo img {
    padding:0;
    margin-bottom:-45px;
}

header.header-fixed nav.header-nav {
    float:left;
    background-color:#7dbebd;
    width:auto;
    line-height: 90px;
}

header.header-fixed nav.links-nav ul.links-menu {
    margin-top:12px;
    margin-bottom:-12px;
}

header.header-fixed ul.header-menu, header.header-fixed ul.header-menu li {
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    display:block;
}

header.header-fixed ul.header-menu {
    width:100%;
    padding-left:85px;
}

header.header-fixed ul.header-menu a:link, header.header-fixed ul.header-menu a:visited {
    display:block;
    text-decoration: none;
    color:#000;
    text-transform: uppercase;
    margin-right:27px;
    font-weight: bold;
}

header.header-fixed ul.header-menu a:hover {
    text-decoration: underline;
}

.page-content {
    clear:both;
    overflow:hidden;
    margin-top:70px;
}

footer {
    clear:both;
    border-top:1px solid #333;
}

footer p {
    text-align: center;
}