html, body {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    min-width:1200px;
}

.container {
    margin:0 auto;
    width:1325px;
}

header.header-static .top {
    border-bottom:1px solid #5a9ae5;
    float:left;
    width:100%;
}

header.header-static .logo {
    width:1325px;
    margin:31px auto 0 auto;
}

/*header.header-static .logo h1 {
    margin:40px 0 0 0;
    padding:0;
}

header.header-static .logo h1 a {
    font-size:44px;
    font-family: 'Droid Sans', sans-serif;
    text-decoration:none;
    color:#000;
    text-transform: uppercase;
}*/

header.header-static .navigation {
    clear:both;
    width:1325px;
    margin:0 auto;
}

header.header-static nav.header-nav {
    float:left;
    width:80%;
}

header.header-static .search-bar {
    float:right;
    width:20%;
    margin-top:8px;
}

header.header-static .search-bar input {
    padding:6px;
    width:240px;
    float:right;
    border:1px solid #5a9ae5;
}

header.header-static ul.header-menu, header.header-static ul.header-menu li {
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    display:block;
}

header.header-static ul.header-menu {
    width:100%;
}

header.header-static ul.header-menu a:link, header.header-static ul.header-menu a:visited {
    display:block;
    text-decoration: none;
    color:#000;
    padding:14px 10px;
    text-transform: uppercase;
}

header.header-static ul.header-menu a:hover {
    text-decoration: underline;
}

header.header-fixed {
    display:none;
    background-color:#0263d7;
    width:100%;
    line-height: 76px;
    padding:0;
    margin:-116px 0 0 0;
    position:fixed;
    z-index:1;
}

header.header-fixed .top {
    margin:0 auto;
    width:1325px;
}

header.header-fixed .logo {
    float:left;
    background-color:#0263d7;
}

header.header-fixed .logo h1 {
    padding:0;
    margin:0;
}

header.header-fixed .logo h1 a {
    font-size:36px;
    font-family: 'Droid Sans', sans-serif;
    text-decoration:none;
    color:#fff;
    text-transform: uppercase;
    padding-right:13px;
    border-right:2px solid #fff;
}

header.header-fixed nav.header-nav {
    float:left;
    background-color:#0263d7;
    width:auto;
    line-height: 77px;
}

header.header-fixed .search-bar {
    float:right;
    background-color:#0263d7;
    width:auto;
    line-height: 77px;
}

header.header-fixed .search-bar img {
    margin-top:10px;
    margin-bottom:-10px;
}

header.header-fixed ul.header-menu, header.header-fixed ul.header-menu li {
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    display:block;
}

header.header-fixed ul.header-menu {
    width:100%;
    padding-left:85px;
}

header.header-fixed ul.header-menu a:link, header.header-fixed ul.header-menu a:visited {
    display:block;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    margin-right:27px;
}

header.header-fixed ul.header-menu a:hover {
    text-decoration: underline;
}

.page-content {
    clear:both;
    overflow:hidden;
    margin-top:70px;
}

footer {
    clear:both;
    border-top:1px solid #333;
}

footer p {
    text-align: center;
}