.sidebar {
    margin-top:20px;
    margin-bottom:-260px;
}

h2.sidebar-title {
    text-align:center;
    text-transform: uppercase;
    font-weight: normal;
    height: 38px;
}

article.post-sidebar {
    float:left;
    border:1px solid #DFDFDF;
    padding:6px;
    margin-bottom:10px;
}

.post-sidebar-thumbnail {
    padding:6px;
    margin-bottom:-70px;
}

.post-sidebar-thumbnail img {
    width:100%;
    height:200px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.post-sidebar-thumbnail img:hover {
    opacity:0.8;
    filter: alpha(opacity=80);
}

h2.post-sidebar-title {
    position:relative;
    bottom:62px;
    margin-left:6px;
}

h2.post-sidebar-title a {
    text-decoration:none;
    color:#fff;
    font-size:25px;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
}

.sidebar-ad {
    margin-top:13px;
}

.sidebar-ad img {
    width:100%;
    height:414px;
}

.widget {
    overflow:hidden;
    position:relative;
    border:1px solid #DFDFDF;
    padding:10px;
    margin-bottom:115px;
}