.sidebar {
    margin-top:19px;
    margin-bottom:-260px;
}

h2.sidebar-title {
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    height: 38px;
    margin-top:4px;
    margin-bottom:-13px;
}

.widget {
    overflow:hidden;
    position:relative;
    border:1px solid #DFDFDF;
    background-color:#E8E8E8;
    padding:10px;
    margin-bottom:115px;
}

ul.sidebar-posts-menu, ul.sidebar-posts-menu li {
    float:left;
    width:100%;
    list-style-image: url('../images/icons/list-dot.png');
    list-style-position: inside;
}

ul.sidebar-posts-menu {
    margin:0;
    padding:0;
}

ul.sidebar-posts-menu li {
    padding:12px 0 12px 0;
}

ul.sidebar-posts-menu li:last-child {
    border-bottom:0;
    padding:12px 0 18px 0;
}

ul.sidebar-posts-menu a:link, ul.sidebar-posts-menu a:visited {
    text-decoration:none;
    color:#000;
    font-size:24px;
    font-weight: normal;
    font-family: 'Capriola', sans-serif;
}

ul.sidebar-posts-menu a:hover {
    text-decoration:underline;
    color:#000;
}

.post-sidebar {
    width:100% !important;
}

.post-sidebar .post-thumbnail img {
    height: 409px !important;
}